<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Home 4</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
    <link rel="stylesheet" href="../styles/style.css">
</head>
  <body>
<!-- Хедер -->
  <Header id="top">
    <br><br>
    <div class="header">
      <a href="../frontend/index.html">Home</a>
      <a href="../frontend/pages/project.html">Projects</a>
      <a href="../frontend/pages/solution.html">Solution</a>
      <a href="../frontend/pages/gallery.html">Gallery</a>
      <a href="../frontend/pages/about.html">About</a>
      <a href="../frontend/pages/contact.html">Contact</a>
      <a href="#bottom">Go To Bottom</a>
    </div>
    <br><br> 
  </Header>
<!-- Хедер -->
<!-- Секция 1 -->
<section>
  <Section class="first">
    <br>
    <h1>Section</h1>
    <div>
      <div class="card">
        <img src="../img/i.jpg" width="200" height="200">
        <br><br>
        <b>Product Title</b>
        <br><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga earum aspernatur, necessitatibus optio et tempora rerum aliquid totam sapiente! Eos!
        <br><br>
        <b>200&#36</b>
        <br><br>
      </div> 
      <div class="card">
        <img src="../img/i.jpg" width="200" height="200">
        <br><br>
        <b>Product Title</b>
        <br><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga earum aspernatur, necessitatibus optio et tempora rerum aliquid totam sapiente! Eos!
        <br><br>
        <b>200&#36</b>
        <br><br>
      </div>
      <div class="card">
        <img src="../img/i.jpg" width="200" height="200">
        <br><br>
        <b>Product Title</b>
        <br><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga earum aspernatur, necessitatibus optio et tempora rerum aliquid totam sapiente! Eos!
        <br><br>
        <b>200&#36</b>
        <br><br>
      </div>
      <div class="card">
        <img src="../img/i.jpg" width="200" height="200">
        <br><br>
        <b>Product Title</b>
        <br><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga earum aspernatur, necessitatibus optio et tempora rerum aliquid totam sapiente! Eos!
        <br><br>
        <b>200&#36</b>
        <br><br>
      </div>  
  </Section>
<!-- Секция 1 -->
<!-- Секция 2 -->
  <Section class="second">
    <h1>Section</h1>
      <div>
        <div class="pictures">
        <img src="../img/i.jpg" width="200"height="200">
        </div>
        <div class="pictures">
        <img src="../img/i.jpg" width="200"height="200">
        </div>
        <div class="pictures">
        <img src="../img/i.jpg" width="200"height="200">
        </div>
        <div class="pictures">
        <img src="../img/i.jpg" width="200"height="200">
        </div>
        <div class="pictures">
        <img src="../img/i.jpg" width="200"height="200">
        </div>
        <br><br></div>
  </Section>
<!-- Секция 2 -->
<!-- Секция 3 -->
  <section class="third">

    <h1>Section</h1>
    
    <p  class="one">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem, harum!</p>

    <p class="two">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis, quisquam!</p> 

    <p class="three">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

    <Section class="thirdone">
      <div><br>
        <div class="link">Link</div>
        <div class="link">Link</div>
        <div class="link">Link</div>
        <div class="link">Link</div>
        <div class="link">Link</div>
        <div class="link">Link</div>
        <div class="link">Link</div>
        <div class="link">Link</div>
      <br></div>
    </Section>

    <Section class="thirdtwo">
      <div><br>
        <div class="link">Link</div>
        <div class="link">Link</div>
        <div class="link">Link</div>
        <div class="link">Link</div>
        <div class="link">Link</div>
        <div class="link">Link</div>
        <div class="link">Link</div>
        <div class="link">Link</div>
        <br></div>
  </Section>
  </section>
</section>
<!-- Секция 3 -->
<!-- Футер -->
  <Footer id="bottom">
    <br><br>
    <div class="footer">
      <a href="../frontend/index.html">Home</a>
      <a href="../frontend/pages/project.html">Projects</a>
      <a href="../frontend/pages/solution.html">Solution</a>
      <a href="../frontend/pages/gallery.html">Gallery</a>
      <a href="../frontend/pages/about.html">About</a>
      <a href="../frontend/pages/contact.html">Contact</a>
      <a href="#top">Go To Top</a>
    </div>
    <br><br>
  </Footer>
<!-- Футер -->

  </body>
</html>
